.footer {
  background-color: #fffbef;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.42);
}

.text {
  font-size: 18px;
  font-weight: bold;
  color: #101010;
  text-align: center;
  margin: 0 auto;
}
