.grid {
  display: grid;
  min-height: 100vh;

  grid-template-areas:
    "header"
    "content"
    "footer ";

  grid-template-rows: 60px auto 40px;
}

header {
  grid-area: header;
}

main {
  grid-area: content;
}

footer {
  grid-area: footer;
}
